.navbar {
    background-color: orangered;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h1 {
    text-align: center;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}
.news {
    display: flex;
    flex-direction: column;
}
.content>div:first-child {
    width: 100%;
    order: 2;
}
.content>div:nth-child(n+2) {
    width: 30%;
    order: 2;
}
#breaking {
    order: 1;
    width: 100%;
    padding: 5px 20%;
}
#breaking>h3 {
    font-size: xxx-large;
    text-align: center;
}
